* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
   
}

img{
max-width: 100%;
}


body{
    background-color: #222;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 100%;
}


header{
    background-color: #111;    
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.funcao{
    font-size: 26px;
 
}

section, footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

section{
    border-bottom: 1px solid #555;
}



.habilidades{
    display: flex;
    gap: 40px;   
}

.habilidade{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul,ol{
    margin-left: 20px;
}

.projeto{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projetos{
    display: flex;
    gap: 20px;
}

a{
    color: white;
    
}

a:hover{
    color: rgb(8, 170, 21);
}


footer{
 
    align-items: center;
    text-align: center;

}
/* section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 */



/* .sobre{
    padding-bottom: 20px;
} */

/* footer{
    padding: 40px;
} */


/* .habilidade{
    background-color: #333;    
} */
 
/* .linguagem{
    color:yellow;
} */

/* #linguagem{
    color: blue;
} */

